[General]
LOG_LEVEL = ERROR
FETCH_INTERVAL = 5
TAR1090_URL = http://localhost:8080/data/aircraft.json
MIL_PREFIX_LIST = 
BLINK_MILITARY = true

[Colors]
DIM_GREEN = (0, 80, 0)
BRIGHT_GREEN = (0, 255, 0)
AMBER = (255, 191, 0)
RED = (255, 0, 0)

[Audio]
ATC_STREAM_URL =
AUTO_START = false

[Location]
LAT = 51.08741
LON = -114.20455
AREA_NAME = CITY
RADIUS_NM = 5
RADAR_ROTATION = 166
TERRAIN = False

[Display]
SCREEN_WIDTH = 1280
SCREEN_HEIGHT = 400
FPS = 15
MAX_TABLE_ROWS = 10
FONT_PATH = /root/retro-adsb-radar/fonts/TerminusTTF-4.49.3.ttf
BACKGROUND_PATH =
TRAIL_MIN_LENGTH = 8
TRAIL_MAX_LENGTH = 25
TRAIL_MAX_SPEED = 500
HEADER_FONT_SIZE = 32
RADAR_FONT_SIZE = 20
TABLE_FONT_SIZE = 28
INSTRUCTION_FONT_SIZE = 28
